<!-- views/shared/slider.ejs -->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
             <li data-transition="fade" data-slotamount="7">
                <img alt="" src="images/slider/dummy.png" data-lazyload="images/slider/slider-1/slide-1-bg.jpeg" data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
                <!--div class="caption lfr" data-y="97" data-x="right" data-speed="600" data-start="1000"><img alt="" src="images/slider/slider-1/slide-1-img.png"></div-->
                <div class="caption lfl large-title tp-resizeme witTxt" data-x="0" data-y="135" data-speed="600" data-start="1600"><%= home_slider1_caption_p1 %></div>
                <div class="caption lfl large-title tp-resizeme main-color" data-x="0" data-y="187" data-speed="600" data-start="1800"><%= home_slider1_caption_p2 %></div>
                <div class="caption lfl large-title tp-resizeme witTxt" data-x="0" data-y="240" data-speed="600" data-start="2000"><%= home_slider1_caption_p3 %></div>
                <div class="caption lfl large-text tp-resizeme witTxt" data-x="0" data-y="320" data-speed="600" data-start="2200"><b>
                    <%- home_slider1_caption_pra %> 
                </b></div>
            </li>
            <li data-transition="fade" data-slotamount="7">
                <img alt="" src="images/slider/dummy.png" data-lazyload="images/slider/slider-1/slide-2-bg.jpeg" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
                <!--div class="caption lfr" data-y="15" data-x="right" data-speed="600" data-start="1000"><img alt="" src="images/slider/slider-1/slide-2-img.png"></div-->
                <div class="caption lfl large-title tp-resizeme witTxt" data-x="0" data-y="135" data-speed="600" data-start="1600"><%= home_slider2_caption_p1 %></div>
                <div class="caption lfl large-title tp-resizeme main-color" data-x="0" data-y="187" data-speed="600" data-start="1800"><%= home_slider2_caption_p2 %></div>
                <div class="caption lfl large-title tp-resizeme witTxt" data-x="0" data-y="240" data-speed="600" data-start="2000"><%= home_slider2_caption_p3 %></div>
                <div class="caption lfl large-text tp-resizeme witTxt" data-x="0" data-y="320" data-speed="600" data-start="2200"><b>                
                    <%- home_slider2_caption_pra %> 
                </b></div>
            </li>
            <li data-transition="fade" data-slotamount="7">
                <img alt="" src="images/slider/dummy.png" data-lazyload="images/slider/slider-1/slide-3-bg.jpeg" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
                <!--div class="caption lfr" data-y="15" data-x="right" data-speed="600" data-start="1000"><img alt="" src="images/slider/slider-1/slide-2-img.png"></div-->
                <div class="caption lfl large-title tp-resizeme witTxt" data-x="0" data-y="135" data-speed="600" data-start="1600"><%= home_slider3_caption_p1 %></div>
                <div class="caption lfl large-title tp-resizeme main-color" data-x="0" data-y="187" data-speed="600" data-start="1800"><%= home_slider3_caption_p2 %></div>
                <div class="caption lfl large-title tp-resizeme witTxt" data-x="0" data-y="240" data-speed="600" data-start="2000"><%= home_slider3_caption_p3 %></div>
                <div class="caption lfl large-text tp-resizeme witTxt" data-x="0" data-y="320" data-speed="600" data-start="2200"> <b>             
                    <%- home_slider3_caption_pra %> 
                </b></div>
            </li>
        </ul>
    </div>
</div>
<!-- end views/shared/slider.ejs -->